<div class="texto-blanco">
  <h1>Pipes Básicos</h1>
  <p>Pipes incluídos en Angular - en el Common Module</p>
  <!-- grid, col es una clase de PrimeFlex (primeNg) -->
  <div class="grid">
    <div class="col-4">
      <p-card header="uppercase" [subheader]="nombreLower | uppercase">
      </p-card>
    </div>
    <div class="col-4">
      <p-card header="lowercase" [subheader]="nombreUpper | lowercase">
      </p-card>
    </div>
    <div class="col-4">
      <p-card header="titlecase" [subheader]="nombreCompleto | titlecase">
      </p-card>
    </div>
  </div>

  <h1>Date | Fecha | Pipe</h1>
  <p>Pipe para mostrar las fechas</p>

  <div class="grid">
    <div class="col-6">
      <p-card>
        <ul>
          <li>fecha</li>
          <li>fecha | date</li>
          <li>fecha | date: "short"</li>
          <li>fecha | date: "long"</li>
          <li>fecha | date: "dd/MM/yyyy"</li>
        </ul>
      </p-card>
    </div>
    <div class="col-6">
      <p-card>
        <ul>
          <li>{{ fecha }}</li>
          <li>{{ fecha | date }}</li>
          <li>{{ fecha | date: "short" }}</li>
          <li>{{ fecha | date: "long" }}</li>
          <li>{{ fecha | date: "dd/MM/yyyy" }}</li>
        </ul>
      </p-card>
    </div>
  </div>
</div>
