<app-menu></app-menu>
<router-outlet></router-outlet>
<a routerLink="numeros">Números</a>

<!-- <div class="texto-blanco">
  <h1>{{ nombre | titlecase }}</h1>
  <button
    pButton
    type="button"
    label="Cambiar Nombre"
    (click)="mostrarNombre()"
    icon="pi pi-check"
    iconPos="right"
    class="p-button-help"
  ></button>
  <hr />
  <p-card>
    <h3>Simple Card</h3>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium nulla
    accusamus impedit quod molestiae cumque voluptas. Voluptatibus quibusdam
    fugiat ut recusandae, consectetur, debitis praesentium facilis vel sint
    laborum hic alias.
  </p-card>
  <br />
  <p-card [header]="nombre | titlecase" subheader="Esto es el subheader">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laborum
    cupiditate odit ipsa. Architecto asperiores dolor, dolore nemo maxime
    aliquid enim perferendis harum a itaque pariatur, quam nulla culpa animi!
  </p-card>
</div> -->
